:root {
  --gray: #eff3f8;
  --white: #fff;
  --grayText: #8c8c8c;
  --blue: #199afc;
  --text: #555;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: var(--white);
  padding: 0;
  margin: 0;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*::selection {
  background: rgba(6, 125, 247, 0.15);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.5em 0;
  color: var(--blue);
}
p {
  margin: 0.7em 0;
}
ul {
  padding-left: 2em;
}
.img-project img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 1em 0 var(--gray);
}
.img-project cite{
  font-size: 0.8em;
  color: var(--grayText);
}
blockquote {
  background-color: var(--gray);
  border-radius: 4px;
  outline: var(--gray) solid 8px;
  margin: 1.5em 2em;
}
.center-tweet {
  display: flex;
  justify-content: center;
}
date {
  color: var(--grayText);
  font-size: 0.9em;
}
a {
  color: var(--blue);
}
