@media screen and (min-width: 800px) {
  .mainWrap {
    display: flex;
    min-height: 90vh;
  }
  .userSection {
    width: 35vw;
  }
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.25em;
}
.homeName{
  text-decoration: none;
}
.userSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 1em 0;
}
.userImg {
  border-radius: 50%;
}
.name {
  color: var(--blue);
}
.descrip {
  color: var(--grayText);
}
.porfafolioLink a{
  text-decoration: none;
}
.porfafolioLink a::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--blue);
  transition: all 0.3s ease-in-out;
}
.porfafolioLink a:hover::after{
  width: 100%;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 1em 0;
  width: 100%;
}
.social a {
  cursor: pointer;
  padding: 0.6em;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transition: border 0.3s ease-in-out;
  border: 2px solid transparent;
}
.social a:hover {
  border: 2px solid var(--blue);
}
.footer {
  padding: 1em 0;
  border-top: 1px solid var(--blue);
  text-align: center;
}
.footer a {
  font-weight: 500;
  margin: 0 1em;
  color: var(--blue);
  text-decoration: none;
}
.footer a:hover {
  color: #0e8beb;
}
.btnArrowBack {
  cursor: pointer;
  color: var(--blue);
  background-color: transparent;
  border: none;
}
